<launch>
  <!-- Set the TurtleBot model -->
  <arg name="model" default="burger"/>
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

  <!-- Load the URDF file for the TurtleBot into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'"/>

  <!-- Launch the empty Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- Spawn the TurtleBot model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" output="screen"
        args="-urdf -model turtlebot3 -param robot_description -x 0 -y 0 -z 0.1"/>

  <!-- Run the LQR controller -->
  <node pkg="lqr_control" type="kf_controller.py" name="kf_controller" output="screen"/>

  <!-- Run RViz for visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot3_description)/rviz/model.rviz"/>
</launch>
